		<div class="">
			<input type="checkbox" id="spoiler">
			<label for="spoiler" class="group pt-2 text-green">
				<i class="far fa-question-circle text-sm"></i>
				Wie komme ich an den Playlistlink?
				<div class="float-right closeIcon group-hover-hover:text-green-light">
					<i class="fas fa-times text-sm" style="transform: translateY(-2px);"></i>
				</div>
			</label>
			<div class="spoiler">
				<img src="/assets/img/playlistlink.png" class="m-auto">
			</div>
		</div>