		<div class="">
			<input type="checkbox" id="spoiler">
			<label for="spoiler" class="border-b-2 border-green text-green cursor-pointer">
				<i class="far fa-question-circle text-sm"></i>
				Wie komme ich an den Playlistlink?
			</label>
			<div class="spoiler">
				<img src="/assets/img/playlistlink.png">
			</div>
		</div>