<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content=""/>

      <title>Spotify Playlist-Observer</title>
      <link href="/dist/output.css" type="text/css" rel="stylesheet" />

      <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/7373b749c2.js" crossorigin="anonymous"></script>
      <script src="/dist/output.js"></script>
      <script src="/dist/lit_index.js"></script>

      {{ headerExtensions|default("")|raw }}
  </head>

  <body>
      {% block body %}{% endblock %}
  </body>
</html>