{% extends 'pages/p-layout.twig' %}

{% block layout %}
	<div class="smallcontainer mx-auto " style="">
		<header>
			<a href="listPlaylists.php">
				<button class="backbtn">
					<i class="fas fa-arrow-left"></i>
				</button>
			</a>
			<h2 class="inline">Playlist hinzufügen</h2>
		</header>



		{% if errorMsg is not null %}
			{% include "components/c-error.twig" with {"title": "Fehler!", "text": errorMsg} %}
		{% endif %}

		<div class="py-4">
					{% include "components/c-linkhelp.twig" %}
		</div>

		<form class="w-full py-4" action="insertPlaylist.php" method="post"  onsubmit="return validateInsertionForm()" autocomplete="off">
			<script>
				$(function() {
					onToggleSource();
				});
			</script>
			<div class="mb-4">
				<div class="mb-1 text-white">
					<label class="block font-bold" for="source">
						Quelle
					</label>
				</div>

				<div>
					<input type="radio" name="source" value="playlist" id="radio_source_playlist" onchange="onToggleSource()" checked />
					<label for="radio_source_playlist">Playlist eines Benutzers</label>
				</div>
				<div>
					<input type="radio" name="source" value="user" id="radio_source_user" onchange="onToggleSource()" />	
					<label for="radio_source_user">Lieblingssongs eines Benutzers</label>	
				</div>
				<div>
					<input type="radio" name="source" value="recommendations" id="radio_source_recommendations" onchange="onToggleSource()" />	
					<label for="radio_source_recommendations">Empfehlungen für die Zielplaylist</label>	
				</div>	
			</div>
			<div class="mb-4" id="container_source_playlist">
				<div class="mb-1 text-white">
					<label class="block font-bold" for="sourcePlaylist">
						Playlistlink der Quellplaylist
					</label>
					<p class="text-grey">Füge hier den Link zur Playlist eines Freundes ein, der du folgen möchtest.</p>

				</div>

				<input class="shadow appearance-none border rounded w-full py-2 px-3 text-black focus:outline-none focus:shadow-outline placeholder-gradient" id="sourcePlaylist" name="sourcePlaylist" type="text" placeholder="https://open.spotify.com/playlist/XXXXXXXXXXXXXXXXXXXXXX?si=XXXXXXXXXXXXXXXXXXXXXX">
				<p class="validation-error">Kein gültiger Playlistlink!</p>
			</div>
			<div class="mb-4" id="container_source_user">
				<div class="mb-1 text-white">
					<label class="block font-bold" for="sourceUser">
						Link zum Benutzerprofil
					</label>
					<p class="text-grey">Füge hier den Link zum Benutzerprofil des Freundes ein, dessen Lieblingssongs du folgen möchtest. Bitte beachte, dass dieser Benutzer zuerst zustimmen muss, damit du seine Lieblingssongs ansehen darfst.</p>

				</div>

				<input class="shadow appearance-none border rounded w-full py-2 px-3 text-black focus:outline-none focus:shadow-outline placeholder-gradient" id="sourceUser" name="sourceUser" type="text" placeholder="https://open.spotify.com/user/XXXXXXXXXXXXXXXXXXXXXX?si=XXXXXXXXXXXXXXXXXXXXXX">
				<p class="validation-error">Kein gültiger Profillink!</p>
			</div>
			<div class="mb-4">
				<div class="mb-1 text-white">
					<label class="block font-bold" for="destPlaylist">
						Playlistlink der Zielplaylist
					</label>
					<p class="text-grey">Füge hier den Link zur deiner eigenen Playlist ein, in welche du Songs übernehmen möchtest.</p>
				</div>
				<playlist-selector playlist-data="{{playlists.items|json_encode()}}" form-name="destPlaylist"></playlist-selector>
			</div>
			<div class="pt-8 text-center">
				<a href="listPlaylists.php" class="btn btn-black">
					<i class="fas fa-times mr-2" style="transform: translateY(5%);"></i>
					Abbrechen
				</a>
				<button class="btn btn-green">
					<i class="fas fa-save mr-2" style="transform: translateY(5%);"></i>
					Speichern
				</button>
			</div>
		</form>
	</div>

{% endblock %}
