{% extends 'pages/p-base.twig' %}

{% block body %}
	<div class="min-h-screen bg-black text-white bg-fixed">
		<div class="min-h-screen py-16 bg-fixed site-background">
            	{% block layout %}{% endblock %}
            </div>
	</div>

{% endblock %}
