{% extends 'pages/p-layout.twig' %}

{% block layout %}
	<div class="smallcontainer mx-auto " style="">
		<h2>Deine Playlists</h2>
		<div class="flex justify-center py-4">
			<div class="w-full">
				<ul class="divide-y divide-grey">
					{% set k = 10 %}
					{% for i in range(1, k) %}
						{% include "components/c-playlist.twig" %}
					{% endfor %}
					<li class="p-8 text-center">
						<button class="btn btn-green">
							<i class="fas fa-plus mr-2" style="transform: translateY(5%);"></i>
							<!--		  <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" fill-rule="evenodd"></path></svg>
																														<svg class="fill-current w-6 h-6 mr-1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16">
																															<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
																					
																														</svg>-->
							Playlist beobachten
						</button>


					</li>

				</ul>
			</div>
		</div>
	</div>

{% endblock %}
