{% extends 'pages/p-layout.twig' %}

{% block layout %}
	<div class="smallcontainer mx-auto " style="">
		<h2>Deine Playlists</h2>
		{% if restoreableTask is not null %}
			<div class="bg-green bg-opacity-10 border-l-4 border-green text-green rounded-md shadow-lg p-4 my-4" role="alert">
				<p class="text-lg font-bold">Auftrag erfolgreich gelöscht!</p>
				<p><a href="restoreTask.php?id={{restoreableTask}}&amp;restoreTask=true" class="underline">Rückgängig machen</a></p>
			</div>
		{% endif %}

		<div class="flex justify-center py-4">
			<div class="w-full">
				{% if playlists is empty %}
					<div class="text-center pt-9 md:pb-2 lg:pb-4">
						<img class="w-1/6 md:w-1/8 lg:w-1/10	m-auto filter invert" src="/assets/img/playlist.svg"/>
						<p class="font-bold mt-4 mb-1">Du hast noch keine Playlists, die du beobachtest.</p>
						<p class="text-sm">Füge jetzt eine hinzu!</p>

					</div>

				{% else %}
					<ul class="divide-y divide-grey">
						{% for p in playlists %}
							<li class="py-2">
								<a href="viewChanges.php?id={{p._id}}">
									{% include "components/c-playlist.twig" with {"playlist": p} %}
								</a>
							</li>
						{% endfor %}

					</ul>
				{% endif %}

				<div class="p-8 text-center">
					<a href="insertPlaylist.php">
						<button class="btn btn-green">
							<i class="fas fa-plus mr-2" style="transform: translateY(5%);"></i>
							Playlist beobachten
						</button>
					</a>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
