input[id^="spoiler"] {
  display: none;
}

input[id^="spoiler"]+label {
  @apply pt-2 transition-all border-b-2 border-green;
  display: block;
  cursor: pointer;
}

input[id^="spoiler"]:checked~label {
  width: 100%;
  @apply pl-4 rounded-t-lg bg-darkgrey;
}



input[id^="spoiler"]~.spoiler {
  width: 100%;
  @apply rounded-b-lg transition-all bg-darkgrey;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

input[id^="spoiler"]:checked+label+.spoiler {
  height: auto;
  opacity: 1;
  @apply p-4;
}